In [33]:
import pandas as pd
import numpy as np

In [55]:
df = pd.read_csv('jobs.csv')
df

,role,company_name,company_location,company_rating,salary,job_type,description
0,Data Analyst I - job post,Kaiser Permanente,"San Jose, CA",4 out of 5 stars,NaN,Full-time,\n\nJob Summary:\n\n This individual contribut...
1,Data Analyst - job post,"GitHub, Inc.",Remote,4.1 out of 5 stars,"$73,500 - $195,000 a year",- Full-time,\n About GitHub: As the global home for all de...
2,Data Analyst - job post,Imedex,Remote,2.4 out of 5 stars,NaN,NaN,\n\n\n\n HMP Omnimedia\n \n\n\n\n Remote...
3,Missouri Online Data Analyst I - Remote and Hy...,University of Missouri,Missouri•Remote,4.1 out of 5 stars,"$60,000 - $69,000 a year",- Full-time,\n\n\nHiring Department\n\n\n\n\n\neLearning\n...
4,Temporary - Partime - Associate Data Scientist...,E. & J. Gallo,Remote,4 out of 5 stars,$37.50 an hour,"- Temporary, Part-time",\nE. & J. Gallo Winery Privacy Policy\n Why Ga...
5,Data Analyst I (Part Time) - job post,Tanaq Support Services LLC,Remote,NaN,NaN,Part-time,\n Description: \n Overview\n Tanaq Support S...
6,Missouri Online Data Analyst I - Remote and Hy...,University of Missouri - Kansas City,Missouri•Remote,4.1 out of 5 stars,"$60,000 - $69,000 a year",- Full-time,\n\n\nHiring Department\n\n\n\neLearning\n\n\n...
7,Junior Data Analyst - job post,Amivero,Remote,4.8 out of 5 stars,NaN,Full-time,\n Description: \n The Amivero Team\n Amivero...
8,Data Scientist - job post,Cint,"New York, NY•Hybrid remote",3.9 out of 5 stars,"$90,000 - $110,000 a year",NaN,\nCompany Description\n Who We Are\n Cint is a...
9,HealthCare Data Analyst - job post,Sentara Healthcare,"Richmond, VA 23173•Remote",3.8 out of 5 stars,"$73,819.20 - $87,447.36 a year",- Full-time,\n\n\n\n\nBe a part of an excellent healthcare...
10,TikTok Shop - Logistics Data Analyst - job post,TikTok,"Seattle, WA",3.4 out of 5 stars,"$113,216 - $209,600 a year",NaN,Responsibilities \nTikTok is the leading desti...
11,Data Analyst - job post,Pepperdine University,Remote,4.2 out of 5 stars,"$66,560 - $72,500 a year",- Full-time,\nUnder the guidance of the Sr. Director and S...
12,Data Analyst - job post,TEOCO,Remote,3.5 out of 5 stars,NaN,NaN,\nWe are excited to offer an opportunity for a...
13,Data Scientist - job post,Caterpillar,"Morton, IL•Hybrid remote",3.8 out of 5 stars,NaN,Full-time,"\nCareer Area: Business Technologies, Digital ..."
14,Missouri Online Data Analyst I - job post,Missouri S&T,Missouri,4.3 out of 5 stars,"$60,000 - $69,000 a year",- Full-time,\n\n\n\n\n\nThe Solutions and Analytics Team w...

In [56]:
def calculate_salary(salary: str):
    """
    Compute yearly salary from hourly rate
    """
    salary = salary.split(' an hour')[0]
    salary = float(salary) * 40 * 52
    return f"{salary}"


def split_salary_range(salary: str):
    """
    From salary column form min and max salary columns
    Cast to float
    """
    if '-' in salary:
        min_salary, max_salary = salary.split(' - ')
    elif salary == '0':
        min_salary = max_salary = salary
    else:
        min_salary, max_salary = 0, salary
    return float(min_salary), float(max_salary)



df['role'] = df['role'].str.replace('- job post', '')

df['job_location'] = np.where(df['company_location'] == 'Remote', 'Remote', 'On-site')
df['job_location'] = np.where(df['company_location'].str.contains('•'), df['company_location'].str.split('•').str[1], df['job_location'])

df['company_location'] = np.where(df['company_location'] == 'Remote', '', df['company_location'])
df['company_location'] = df['company_location'].str.split('•').str[0]

df[['company_location', 'company_state']] = df['company_location'].str.split(', ', expand=True, )
df['company_state'].fillna('', inplace=True)
df['company_state'] = df['company_state'].str[:2]

df['company_rating'] = df['company_rating'].str.split(' out of ').str[0]
df['company_rating'] = df['company_rating'].fillna(0)
df['company_rating'] = pd.to_numeric(df['company_rating'])

df['salary'] = df['salary'].fillna('0')
df['salary'] = df['salary'].str.replace(' a year', '').str.replace('$', '').str.replace(',', '')
df['salary'] = df['salary'].apply(lambda x: calculate_salary(x) if 'hour' in x else x)
df[['min_salary', 'max_salary']] = df['salary'].apply(lambda x: pd.Series(split_salary_range(x)))
df.drop('salary', axis=1, inplace=True)

df['job_type'] = df['job_type'].str.lstrip(' -')
df['job_type'] = df['job_type'].fillna('')

df['description'] = df['description'].str.strip()

df.to_csv('preprocessed.csv', index=False)

df

,role,company_name,company_location,company_rating,job_type,description,job_location,company_state,min_salary,max_salary
0,Data Analyst I,Kaiser Permanente,San Jose,4.0,Full-time,Job Summary:\n\n This individual contributor i...,On-site,CA,0.0,0.00
1,Data Analyst,"GitHub, Inc.",,4.1,Full-time,About GitHub: As the global home for all devel...,Remote,,73500.0,195000.00
2,Data Analyst,Imedex,,2.4,,HMP Omnimedia\n \n\n\n\n Remote or Hybrid ...,Remote,,0.0,0.00
3,Missouri Online Data Analyst I - Remote and Hy...,University of Missouri,Missouri,4.1,Full-time,Hiring Department\n\n\n\n\n\neLearning\n\n\n\n...,Remote,,60000.0,69000.00
4,Temporary - Partime - Associate Data Scientist,E. & J. Gallo,,4.0,"Temporary, Part-time",E. & J. Gallo Winery Privacy Policy\n Why Gall...,Remote,,0.0,78000.00
5,Data Analyst I (Part Time),Tanaq Support Services LLC,,0.0,Part-time,Description: \n Overview\n Tanaq Support Serv...,Remote,,0.0,0.00
6,Missouri Online Data Analyst I - Remote and Hy...,University of Missouri - Kansas City,Missouri,4.1,Full-time,Hiring Department\n\n\n\neLearning\n\n\n\n\n\n...,Remote,,60000.0,69000.00
7,Junior Data Analyst,Amivero,,4.8,Full-time,Description: \n The Amivero Team\n Amivero’s ...,Remote,,0.0,0.00
8,Data Scientist,Cint,New York,3.9,,Company Description\n Who We Are\n Cint is a p...,Hybrid remote,NY,90000.0,110000.00
9,HealthCare Data Analyst,Sentara Healthcare,Richmond,3.8,Full-time,Be a part of an excellent healthcare organizat...,Remote,VA,73819.2,87447.36
10,TikTok Shop - Logistics Data Analyst,TikTok,Seattle,3.4,,Responsibilities \nTikTok is the leading desti...,On-site,WA,113216.0,209600.00
11,Data Analyst,Pepperdine University,,4.2,Full-time,Under the guidance of the Sr. Director and Sr....,Remote,,66560.0,72500.00
12,Data Analyst,TEOCO,,3.5,,We are excited to offer an opportunity for a t...,Remote,,0.0,0.00
13,Data Scientist,Caterpillar,Morton,3.8,Full-time,"Career Area: Business Technologies, Digital an...",Hybrid remote,IL,0.0,0.00
14,Missouri Online Data Analyst I,Missouri S&T,Missouri,4.3,Full-time,The Solutions and Analytics Team within Missou...,On-site,,60000.0,69000.00